.card {
    background: #236681;
    color: #fff;
}

.card1 {
    background: #527dce;
    color: #fff;
    width: 1820px;
    margin-left: 50px;
}

.card2 {
    background: #236681;
    color: #fff;
    width: 230px;
    margin-left: 817px;
    font-size: 25px;
}

.input {
    width: 1820px;
    margin-left: 50px;
}

.finished {
    width: 500px;
    margin-left: 720px;
    font-size: 25px;   
}

.winner {
    margin-left: 865px;
    font-size: 25px;
}

.green {
    color: green;
}

.red {
    color: red;
}

#poza {
    height: 140px;
    width: 400px;
    float: right;
}
